@import url("https://fonts.maateen.me/kalpurush/font.css");
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

/*   
  body {
    font-family: 'GOTHIC', sans-serif;
  } */

body{
    font-family: Quicksand, 'Hind Siliguri', 'sans-serif';
    /* font-weight: 100; */
    /* background: #000; */
}


.loginPages{
  padding: 0;
  margin:0;
  background: #cfe0e0;
  overflow-x: hidden;
  overflow-y: scroll;
}

.loginPages .text{
  font-size: 27px;
  margin-top: 60px;
  color: #fff;
  padding: 10px;
}

.loginPages .subText{
  color: rgb(230, 233, 235);
  margin-top: 20px;
  font-size: 17px;
  padding: 10px;
}

.loginPages .button{
  font-weight: bold;
background-image: linear-gradient(to right, #ff00cc 0%, #333399  51%, #ff00cc  100%);
     margin: 10px;
     padding: 5px 5px;
     text-align: center;
     text-transform: uppercase;
     /* transition: 0.5s; */
     background-size: 200% auto;
     color: white;            
     box-shadow: 0 0 20px rgb(142, 30, 146);
     border-radius: 5px;
     display: block;
     width: 125px;
     font-size: 20px;
   
   
}

.next{
  margin-top: 100px;
}

.page1, .page2, .page3, .page4, .page5{
  
  width: 100%;
  top: 0;
  height: 100%;
  left: 0;
}

button, input, optgroup, select, textarea {
  font-family: Quicksand, 'Hind Siliguri', 'sans-serif' !important;
}

.swal2-content .select-wrapper{
  display: none;
}

 .disabled, .select-dropdown, .dropdown-trigger{
  font-family: Quicksand, 'Hind Siliguri', 'sans-serif';
}

.loginPages button{
  border: none;
  font-family: Hind Siliguri;
}

.loginPages .button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.page1{
  /* display: none; */
background: linear-gradient(-45deg, var(--orange), rgb(255, 0, 0));
}



.page2{
display: none;
background: linear-gradient(-45deg, blue, rgb(118, 130, 197));
}

.page3{
  display: none;
  background: linear-gradient(-45deg, rgb(73, 11, 97), rgb(175, 59, 156));
}

.page4{
  display: none;
  background: #fff;
  padding: 20px;
}

.page5{
  display: none;
  background: #fff;
  padding: 20px;
}


.lpHead{
  font-size: 30px;
  margin-top: 30px;
  /* padding: px; */
  font-weight: bold;
}

.lInfo{
  font-size: 15px;
  font-weight: 700;
  color: #dc3545;
}